.header__block{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto ;
    grid-template-areas:" b a c";
    justify-content: start;
    align-items: baseline;
}

.logo{
    grid-area: b;
    margin-right: 433px;
    margin-left: 80px;
    background-color: transparent;
    transition: transform 300ms linear;
    &:hover {
            box-shadow: 10px 10px 8px 2px rgba(0, 0, 0, 0.3);
            border-radius: 5px;
            width: 60px;
            text-align: center;
        }

}

.header__link{
    grid-area: a;
    display: flex;
    width: 331px;
    transition: transform 300ms linear;

    & :not(:last-child)
    {
    margin-right: 31px;
    }
    & li{
        text-align: center;
    }
        &:hover .header__navlink {
            box-shadow: 10px 10px 8px 2px rgba(0, 0, 0, 0.3);
            border-radius : 5px;
        }
}

.header__button{
    margin-left: 371px;
    grid-area: c;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid $second-color;
    border-radius: 5px;
    color: $second-color;
    background-color: transparent;
    font-size: 18px;
    width: 150px;
    height: 44px;
    transition: transform 300ms linear;
    &:hover{
        transform: scale(1.25);
        background-color: $second-color;
        color: aliceblue;
    }
}

.header__navlink{
    color: $prime-color;
    font-family: 'Gilroy';
    font-size: 18px;
    line-height: 1.2;
}