.registration {
    background-color: #F7941E;
}

.registration__title {
    font-family: 'Gilroy';
    font-size: 32px;
    line-height: 140.62%;
        
    color: #000000;
    padding-top: 81px;

}

.registration__text {
    font-family: 'Gilroy';
        font-size: 32px;
        line-height: 140.62%;
        
    
    
        color: #000000;
}

.button-dark {
    background-color: #231F20;
    border-radius: 5px;
    color: #FFFFFF;

    margin-top: 18px;
    margin-right: auto;
    margin-left: auto;

    cursor: pointer;
}

.button-light {

    margin-top: 18px;
    margin-right: auto;
    margin-left: auto;

    background-color: #F7941E;

    cursor: pointer;
}