.work {
    &__container {
        display: flex;

        background-color: #F1F1F2;
    }

    &__card {
        padding: 164px 166px 104px 112px;
    }

    &__title {
        margin-bottom: 23px;

        font-size: 32px;
    }

    &__descr {
        margin-bottom: 35px;

        font-size: 20px;
    }
}

.work__button {
    display: flex;
    align-items: center;
    justify-content: center;

    min-width: 200px;
    height: 60px;
    padding: 0;

    font-size: 18px;
    line-height: 1.35;
    text-transform: uppercase;

    color: $second-color;
    background-color: transparent;

    border: 1px solid $second-color;
    border-radius: 5px;

    transition: transform 300ms linear, background-color 300ms linear, color 300ms linear;

        &:hover,
        &:focus {
            transform: scale(1.25);
            background-color: $second-color;
            color: #ffffff;
        }   
}