html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Glory", sans-serif;
  font-size: 20px;
  line-height: 1.4;
  background-color: #ffffff;
  color: #000000;
}

a,
button {
  text-decoration: none;
  cursor: pointer;
  font-style: normal;
  color: transparent;
}

li {
  list-style: none;
  color: transparent;
}

h1,
h2,
h3,
ul {
  padding-bottom: 0px;
  padding-top: 0px;
  margin: 0px;
  padding-left: 0px;
}

.container {
  width: 1440px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

button {
  background-color: #F7941E;
  color: #ffffff;
  border: transparent;
}

.logo {
  font-family: "Homemade Apple", cursive;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 39px;
}

.header__block {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto;
  grid-template-areas: " b a c";
  justify-content: start;
  align-items: baseline;
}

.logo {
  grid-area: b;
  margin-right: 433px;
  margin-left: 80px;
  background-color: transparent;
  transition: transform 300ms linear;
}
.logo:hover {
  box-shadow: 10px 10px 8px 2px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  width: 60px;
  text-align: center;
}

.header__link {
  grid-area: a;
  display: flex;
  width: 331px;
  transition: transform 300ms linear;
}
.header__link :not(:last-child) {
  margin-right: 31px;
}
.header__link li {
  text-align: center;
}
.header__link:hover .header__navlink {
  box-shadow: 10px 10px 8px 2px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}

.header__button {
  margin-left: 371px;
  grid-area: c;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #F7941E;
  border-radius: 5px;
  color: #F7941E;
  background-color: transparent;
  font-size: 18px;
  width: 150px;
  height: 44px;
  transition: transform 300ms linear;
}
.header__button:hover {
  transform: scale(1.25);
  background-color: #F7941E;
  color: aliceblue;
}

.header__navlink {
  color: #000000;
  font-family: "Gilroy";
  font-size: 18px;
  line-height: 1.2;
}

.work__container {
  display: flex;
  background-color: #F1F1F2;
}
.work__card {
  padding: 164px 166px 104px 112px;
}
.work__title {
  margin-bottom: 23px;
  font-size: 32px;
}
.work__descr {
  margin-bottom: 35px;
  font-size: 20px;
}
.work__button {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 200px;
  height: 60px;
  padding: 0;
  font-size: 18px;
  line-height: 1.35;
  text-transform: uppercase;
  color: #F7941E;
  background-color: transparent;
  border: 1px solid #F7941E;
  border-radius: 5px;
}

.registration {
  background-color: #F7941E;
}

.registration__title {
  font-family: "Gilroy";
  font-size: 32px;
  line-height: 140.62%;
  color: #000000;
  padding-top: 81px;
}

.registration__text {
  font-family: "Gilroy";
  font-size: 32px;
  line-height: 140.62%;
  color: #000000;
}

.button-dark {
  background-color: #231F20;
  border-radius: 5px;
  color: #FFFFFF;
  margin-top: 18px;
  margin-right: auto;
  margin-left: auto;
  cursor: pointer;
}

.button-light {
  margin-top: 18px;
  margin-right: auto;
  margin-left: auto;
  background-color: #F7941E;
  cursor: pointer;
}

.section__title {
  font-size: 32px;
  line-height: 1.19;
  text-align: center;
}

.section-blog_title {
  margin-bottom: 23px;
}

.section__exhortation {
  font-size: 18px;
  line-height: 1.36;
  text-align: center;
}

.blog-card {
  display: flex;
  width: 1170px;
  height: 370px;
  background-color: #231F20;
  color: #FFFFFF;
}
.blog-card_info {
  padding: 63px 78px 49px 78px;
}
.blog-card_author {
  font-size: 14px;
  line-height: 1.41;
}
.blog-card_title {
  font-size: 48px;
  line-height: 1.21;
}
.blog-card_link {
  font-size: 18px;
  line-height: 1.41;
  color: #FFFFFF;
}

.section-blog_blog-card {
  margin-top: 80px;
  margin-bottom: 40px;
}

.blog-block {
  display: flex;
  flex-direction: row;
}

.blog-card-sm {
  padding: 48px;
  line-height: 1.41;
}
.blog-card-sm_title {
  font-size: 24px;
}
.blog-card-sm_text {
  font-size: 18px;
}
.blog-card-sm_link {
  font-size: 14px;
}/*# sourceMappingURL=index.css.map */