<!-- Section Blog -->
<section class="section-blog section">
  <h2 class="section__title section-blog_title">Our Best Blogs Ever</h2>
  <p class="section__exhortation">
    “Try our blog to find the best tips and tricks to select your gift”
  </p>
  <div class="blog-card section-blog_blog-card">
    <img
      class="blog-card_images"
      src="../src/images/blog-foto1.jpg"
      alt="wedding photo"
      width="400"
      height="370"
    />
    <div class="blog-card_info">
      <p class="blog-card_author">Mr. John Doe</p>
      <h3 class="blog-card_title">The best way to wish your wife</h3>
      <a class="blog-card_link" href="#">Read More</a>
    </div>
  </div>
  <div>
    <ul class="blog-block">
      <li class="blog-card-sm">
        <h3 class="blog-card-sm_title">
          Database to find the gifts for your girlfriend
        </h3>
        <p class="blog-card-sm_text">

  <div class="blod-card">
    <p>Author</p>
    <h3>The best way to wish your wife</h3>
    <a href="#">Read More</a>
    <ul>
      <li>
        <h3>Database to find the gifts for your girlfriend</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore
        </p>
        <a class="blog-card-sm_link" href="#">Read More</a>
      </li>
      <li class="blog-card-sm">
        <h3 class="blog-card-sm_title">
          How Artificial Intelligence read your mind to find the best gift
        </h3>
        <p class="blog-card-sm_text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore
        </p>
        <a class="blog-card-sm_link" href="#">Read More</a>
      </li>
    </ul>
  </div>
</section>
