<!-- Section Blog -->
<section class="section-blog section">
  <h2 class="section__title">Our Best Blogs Ever</h2>
  <p class="section__exhortation">
    “Try our blog to find the best tips and tricks to select your gift”
  </p>
  <div class="blod-card">
    <img
      src="../images/blog-foto1.jpg"
      alt="wedding photo"
      width="400"
      height="370"
    />
    <p>Author</p>
    <h3>The best way to wish your wife</h3>
    <a href="#">Read More</a>
    <ul>
      <li>
        <h3>Database to find the gifts for your girlfriend</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore...
        </p>
        <a href="#">Read More</a>
      </li>
      <li>
        <h3>
          How Artificial Intelligence read your mind to find the best gift
        </h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore...
        </p>
        <a href="#">Read More</a>
      </li>
    </ul>
  </div>
</section>
