<footer class="footer">
  <div class="container footer_container">
    <div class="footer-nav__bloc">
      <p class="footer-nav__logo">logo</p>
      <nav class="footer-nav">
        <ul class="footer-nav_list">
          <li class="footer-nav_link link-1">
            <a class="link" href="#">Home</a>
          </li>
          <li class="footer-nav_link link-2">
            <a class="link" href="#">About</a>
          </li>
          <li class="footer-nav_link link-3">
            <a class="link" href="#">Service</a>
          </li>
          <li class="footer-nav_link link-4">
            <a class="link" href="#">Blog</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</footer>