<h2>Gifts for all Occasions</h2>
<p>“Try our web app to find the best gifts for all occasions”</p>
<ul>
  <li>
    <img src="./images/gift/Birthday.jpg" alt="image Birthday" />
    <h3>Birthday</h3>
    <details>
      <summary>See More ›</summary>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur
        eligendi officiis molestiae, obcaecati inventore saepe rem quod quidem,
        esse sed nam voluptatum ea! Voluptatibus harum porro molestias, tenetur
        obcaecati ipsam!
      </p>
    </details>
  </li>

  <li>
    <img src="./images/gift/Anniversary.jpg" alt="image Birthday" />
    <h3>Anniversary</h3>
    <details>
      <summary>See More ›</summary>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur
        eligendi officiis molestiae, obcaecati inventore saepe rem quod quidem,
        esse sed nam voluptatum ea! Voluptatibus harum porro molestias, tenetur
        obcaecati ipsam!
      </p>
    </details>
  </li>

  <li>
    <img src="./images/gift/Valentines Day.jpg" alt="image Birthday" />
    <h3>Valentine's Day</h3>
    <details>
      <summary>See More ›</summary>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur
        eligendi officiis molestiae, obcaecati inventore saepe rem quod quidem,
        esse sed nam voluptatum ea! Voluptatibus harum porro molestias, tenetur
        obcaecati ipsam!
      </p>
    </details>
  </li>

  <li>
    <img src="./images/gift/Christmas.jpg" alt="image Birthday" />
    <h3>Christmas</h3>
    <details>
      <summary>See More ›</summary>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur
        eligendi officiis molestiae, obcaecati inventore saepe rem quod quidem,
        esse sed nam voluptatum ea! Voluptatibus harum porro molestias, tenetur
        obcaecati ipsam!
      </p>
    </details>
  </li>
</ul>
