<header class="header">
  <container class="container">
    <div class="header__block">
      <p class="logo">logo</p>
      <nav class="header__nav">
        <ul class="header__link">
          <li class=""><a href="/" class="header__navlink">Home</a></li>
          <li class=""><a href="/" class="header__navlink">About Us</a></li>
          <li class=""><a href="/" class="header__navlink">Services</a></li>
          <li class=""><a href="/" class="header__navlink">Blogs</a></li>
        </ul>
      </nav>
      <button type="button" class="header__button">GIFT FINDER</button>
    </div>
  </container>
</header>
