<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../sass/_footer.scss" />

</head>






<footer class="footer">
  <section class="section">
    <div class="block">
      <div class="nav">
        <ul>
          <p> Home </p>
          <p> About </p>
          <img hidden="41px" width="39px" src="../images/symbol-alim.svg#icon-logo" alt="logo">
          <p> Service </p>
          <p> Blog </p>
        </ul>
      </div>

      <div class="emphasis">

      </div>

      <div class="networks">
        <ul class="networks__list">
          <li class="networks__item">
            <img src="../images/symbol-alim.svg#icon-Vector" alt="Facebook">
          </li>
          <li class="networks__item">
            <img src="../images/symbol-alim.svg#icon-Vector-1" alt="Twitter">
          </li>
          <li class="networks__item">
            <img src="../images/symbol-alim.svg#icon-Vector-2" alt="Instagram">
          </li>
          <li class="networks__item">
            <img src="../images/symbol-alim.svg#icon-Vector-3" alt="YouTube">
          </li>
          <li class="networks__item">
            <img src="../images/symbol-alim.svg#icon-Vector-4" alt="P">
          </li>
        </ul>
      </div>

    </div>
  </section>

  <div class="author's">
    <title>&#xA9</title>.
    <p> 2010 - 2020 </p>
    <p> Privacy - Terms </p>
  </div>


</footer>

</html>