<header class="">
  <div class="">
    <a clas href="/" class="logo">
      <svg class="" width="41" height="39">
        <use href=""></use>
      </svg>
    </a>

    <nav class="nav">
      <ul class="nav-link">
        <li class=""><a href="/" class="">Home</a></li>
        <li class=""><a href="/" class="">About Us</a></li>
        <li class=""><a href="/" class="">Services</a></li>
        <li class=""><a href="/" class="">Blogs</a></li>
      </ul>
    </nav>

    <button type="button" class="">GIFT FINDER</button>
  </div>
</header>
