<section class="work">
  <div class="work__container container">
    <img
        class="work__img"
        src="./images/work.jpg"
        alt="black thanks card"
        width="721"
        height="600"
        />
    <div class="work__card">
        <h2 class="work__title">How we work</h2>
        <p class="work__descr">
          We’ve actually already asked hundreds of women what they want, and
          made a database with the results. All you have to do is take our short
          survey that only takes seconds, and our proprietary algorithm will
          match you with a few perfect gift options.
        </p>
        <button class="work__button" type="button">Learn More</button>
    </div>
    </ul>
  </div>
</section>
